<html>

<!--
<head>
<link href="/core/bootstrap.min.css" rel="stylesheet">
<link href="/css/Leaderboard/style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

var csrf="{{token}}"

</script>

<script src="/js/Leaderboard/load.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>


</head>

-->

<body class="hm-gradient">

	<main>
		<div class="card mb-4">
			<div class="card-body">
				<!-- Grid row -->
				<div class="row">
					<!-- Grid column -->
					<div class="col-md-12">
						<h2 class="pt-5 pb-4 text-center font-bold font-up">Leaderboard</h2>

					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
				<!--Table-->
				<table class="table table-striped">
					<!--Table head-->
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Elo</th>
						</tr>
					</thead>
					<!--Table head-->
					<!--Table body-->
					<tbody id="table">

						<tr *ngFor="let elem of teamsListShow">

                            <th scope="row">{{elem.pos}}</th>
                            
							<td>{{elem.name}}</td>

                            <td>{{elem.elo}}</td>
                            
						</tr>

					</tbody>
					<!--Table body-->
				</table>
				<!--Table-->
				<!--Bottom Table UI-->

				<div id='loader' class="d-flex justify-content-center">
					
				</div>

				<div class="d-flex justify-content-center">
					<!--Pagination -->
                    
					<button *ngIf="allNotShown" class="button" (click)="showMore()" >Load more</button>

					<!--/Pagination -->
				</div>
			</div>
		</div>
    </main>
    <!-- 
    <script src="/core/bootstrap.min.js"></script>

    -->
	

</body>

</html>
