<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Rocket League Info</title>

</head>

<body>

	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-7 my-auto">
					<div class="header-content mx-auto">
						<h1 class="mb-5">Rocket League: When football and cars
							collide.</h1>
						<p>Rocket League is a video game that involves the combination
							of car racing and soccer, created by Psyonix. In the game,
							players are put into two different teams and pitted against each
							other in a futuristic arena to duke it out. Vehicles can be
							customized by players in numerous ways. Rocket League is the
							sequel to Supersonic Acrobatic Rocket-Powered Battle-Cars, which
                            was created by the same developer.</p>
                            <!--<input type="submit" [routerLink]="['/tournaments']" class="btn btn-outline btn-xl js-scroll-trigger" value="Go back to Tournaments">-->
					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="device-container">
						<img
							src="https://media.giphy.com/media/IffuxZpOBjHpPiXpaM/giphy.gif"
							class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>

	<script src="/core/jquery-3.4.1.slim.min.js"></script>
	<script src="/core/bootstrap.bundle.min.js"></script>

</body>
</html>
