<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
            <img [src]="imgWebIconUrl" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" >eTournaments</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a [routerLink]="['/']" class="nav-link">Home</a>
                </li>
                <li class="nav-item active" *ngIf="notLogged">
                    <a [routerLink]="['/login']" class="nav-link">Sign in</a>
                </li>
                <li class="nav-item active" *ngIf="logged">
                    <a [routerLink]="['/profile/',userLoggedId]" class="nav-link">{{userLoggedName}}</a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="['/leaderboard']" class="nav-link">Leaderboard</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" *ngIf="notLogged">
                    <a [routerLink]="['/']" class="nav-link">Register</a>
                </li>
                <li class="nav-item active" *ngIf="logged">
                    <button (click)="logOut()" class="buttonNoBack">Log out</button>
                </li>
            </ul>
        </div>        
    </nav>
</header>

<router-outlet></router-outlet>
