<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Rocket League</title>

</head>

<body>

	<!-- Masthead -->
	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">TOURNAMENTS</h1>
				</div>
			</div>
		</div>
	</header>

	<!-- Icons Grid -->
	<section class="features-icons bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<i><a
							href="https://store.steampowered.com/app/252950/Rocket_League/"><img
								[src]="imgSteamIconUrl" alt="Steam"
								height="200px" width="200px" /></a></i>
						<h3>Download Rocket League on Steam</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<i><a
							href="https://www.twitch.tv/directory/game/Rocket%20League"><img
								[src]="imgTwitchIconUrl" alt="Twitch" height="200px"
								width="200px"></a></i>
						<h3>See on Twitch</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-0 mb-lg-3">
						<i>
							<form>
								<input type="image" [routerLink]="['/info']" [src]="imgInfoIconUrl"
									width="200px" height="200px" alt="Info">
							</form>
						</i>
						<h3>Get more information about this game</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Image Showcases -->
	<section class="showcase">
		<div class="container-fluid p-0">
			<div class="row no-gutters" *ngFor="let elem of tournaments">
				<div class="col-lg-6 text-white showcase-img" >
					<img [src]="imgDefaultTournamentUrl" height="500px"/>
				</div>
				<div class="col-lg-6 my-auto showcase-text">
					<h2>{{elem.name}}</h2>
					<p class="lead mb-0">{{elem.description}}</p>
                    <div style="text-align: center">
						<form [routerLink]="['/tournament/',elem.idTournament]">
							<input  type="submit" class="button" value="Go to tournament">
							<!--<input type="hidden" name="_csrf" value="{{token}}">-->
						</form>
                    </div>
				</div>
			</div>
            
		</div>
	</section>
</body>
</html>