<html>

<head>
<link href="/core/bootstrap.min.css" rel="stylesheet">
<link href="/css/TeamCreation/teamCreation_files/style.css"
	rel="stylesheet">
<link href="/css/TeamCreation/teamCreation_files/teamCreation.css"
	rel="stylesheet">
</head>

<body>
	
	<div class="container">

		<form class="well form-horizontal" #tournamentForm="ngForm">
			<fieldset>
				
				<br>
				<br>
				<br>
				<br>
				
				<!-- Form Name -->

						<h2>
							<b>Create tournament</b>
						</h2>

						<br>
				
				
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Tournament name</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.name"
								placeholder="Your tournament name here" class="form-control"
								type="text" #tournamentFormElement #tournamentFormControl="ngModel" name="name" required>
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Number of teams</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.numTeams"
								placeholder="Number of teams here"
								class="form-control" type="number">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Description</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.description"
								placeholder="Description here"
								class="form-control" type="text">
						</div>
					</div>
				</div>

				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Latitude of the location</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.latitude"
								placeholder="Latitude here"
								class="form-control" type="number">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Longitude of the location</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.longitude"
								placeholder="Longitude here"
								class="form-control" type="number">
						</div>
					</div>
				</div>

				<!-- Text input-->


				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-4 control-label">Select the tournament image</label>
					<div class="col-md-4">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Upload</span>
							</div>
							<div class="custom-file">
								<input [(ngModel)]="tournament.img" type="file" class="custom-file-input"
									id="inputGroupFile01"> <label class="custom-file-label"
									for="inputGroupFile01">Choose file</label>
							</div>
						</div>
					</div>
				</div>
				<br>
				<!-- Button -->
				<div class="col-md-4 inputGroupContainer">
					<button (click)="save()">Submit</button>
					<!--<input type="hidden" name="_csrf" value="{{token}}">-->
				</div>

			</fieldset>
		</form>

	</div>
	<script src="/core/jquery-3.4.1.slim.min.js"></script>
	<script src="/core/bootstrap.bundle.min.js"></script>

</body>

</html>