<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Rocket League Info</title>


<!-- Custom fonts for this template -->

<link href="/core/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/InfoPage/new-age.min.css" rel="stylesheet">

</head>

<body>

	<!-- NavBar -->
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#"> <img
				src="/imgs/Navbar/web-icon-white.png" width="30" height="30" alt="">
			</a> <a class="navbar-brand">eTournaments</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<form action="index">
							<input type="submit" class="nav-link" value="Home">
						</form>
					</li>
					<li class="nav-item active">{{#noloaded}}
						<form action="signIn">
							<input type="submit" class="nav-link" value="Sign In">
						</form> {{/noloaded}} {{^noloaded}}
						<form action="profile">
							<input type="submit" class="nav-link" value="Profile">
						</form> {{/noloaded}}
					</li>
					<li class="nav-item active">
						<form action="leaderBoard">
							<input type="submit" class="nav-link" value="Leaderboard">
						</form>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">{{#noloaded}}
						<form action="register">
							<input type="submit" class="nav-link" value="Register"> <input
								type="hidden" name="_csrf" value="{{token}}" />
						</form> {{/noloaded}} {{^noloaded}}
						<form action="/logout" method="post">
							<input type="submit" class="nav-link" value="Log Out"> <input
								type="hidden" name="_csrf" value="{{token}}" />
						</form> {{/noloaded}}

					</li>
				</ul>
			</div>


		</nav>
	</header>

	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-7 my-auto">
					<div class="header-content mx-auto">
						<h1 class="mb-5">Rocket League: When football and cars
							collide.</h1>
						<p>Rocket League is a video game that involves the combination
							of car racing and soccer, created by Psyonix. In the game,
							players are put into two different teams and pitted against each
							other in a futuristic arena to duke it out. Vehicles can be
							customized by players in numerous ways. Rocket League is the
							sequel to Supersonic Acrobatic Rocket-Powered Battle-Cars, which
							was created by the same developer.</p>
						<form action="tournaments">
							<input type="submit" value="Go back to Tournaments"
								class="btn btn-outline btn-xl js-scroll-trigger">
						</form>

					</div>
				</div>
				<div class="col-lg-5 my-auto">
					<div class="device-container">
						<img
							src="https://media.giphy.com/media/IffuxZpOBjHpPiXpaM/giphy.gif"
							class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>

	<script src="/core/jquery-3.4.1.slim.min.js"></script>
	<script src="/core/bootstrap.bundle.min.js"></script>

</body>
</html>
