<head>
<link href="/core/bootstrap.min.css" rel="stylesheet">

</head>

<body class="hm-gradient">

<!-- NavBar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/imgs/Navbar/web-icon-white.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" >eTournaments</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    	<form action="index">
                    		<input type="submit" class="nav-link" value="Home">
                    	</form>
                    </li>
                    <li class="nav-item active">
                        <form action="singIn">
                    		<input type="submit" class="nav-link" value="Sign In">
                    	</form>
                    </li>
                    <li class="nav-item active">
                        <form action="leaderBoard">
                    		<input type="submit" class="nav-link" value="Leaderboard">
                    	</form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <form action="register">
                    		<input type="submit" class="nav-link" value="Register">
                    	</form>
                    </li>
                </ul>
            </div>
            

        </nav>
    </header>
    <main>
            <div class="card mb-4">
                <div class="card-body" >
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="pt-5 pb-4 text-center font-bold font-up">Leaderboard</h2>
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search users here..." aria-label="Search">
                                <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!--Table-->
                    <table class="table table-striped">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Total points</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>@mdo</td>
                                <td>585</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>@fat</td>
                                <td>585</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>@twitter</td>
                                <td>585</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>@mdo</td>
                                <td>585</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>@fat</td>
                                <td>585</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>@twitter</td>
                                <td>585</td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                    <!--Bottom Table UI-->
                    <div class="d-flex justify-content-center">
                        <!--Pagination -->
                     <button type="button" class="btn btn-primary btn-lg">Load more</button>   
                        <!--/Pagination -->
                    </div>
                </div>
            </div>
    </main>
  <script src="/core/jquery-3.4.1.slim.min.js"></script>
  <script src="/core/bootstrap.min.js" ></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
</body>