<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Team Page</title>

    <link href="../static/css/TeamPage/main.css" rel="stylesheet">
    <link href="../static/core/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/TeamPage/team-style.css" rel="stylesheet">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                <img src="../static/imgs/NavBar/web-icon-white.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand">eTorneos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index/index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../sign-in/sign-in.html">Sign in</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tournaments</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../lol/index.html">League of Legends</a>
                            <a class="dropdown-item" href="../rl/index.html">Rocket League</a>
                            <a class="dropdown-item" href="../pokemon/pokemon.html">Pokémon</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../register/register.html">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="banner-area">
        <div class="container">
            <div class="row justify-content-center height align-items-center">
                <div class="logo">
                    <a href="index.html"><img src="../static/imgs/TeamPage/logo.png" alt=""></a>
                </div>
                <div class="col-lg-8">
                    <div class="banner-content text-center">
                        <h1>Team BBS</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Feature Area -->
    <section class="featured-area">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="../static/imgs/TeamPage/player1.jpg" alt="Jane" style="width:100%">
                        <div class="container">
                            <h2>Jane Doe</h2>
                            <p class="title">Captain</p>
                            <div style="text-align:center;"></div>
                            <p><button class="button">Go to profile</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../static/imgs/TeamPage/player2.jpg" alt="Mike" style="width:100%">
                        <div class="container">
                            <h2>Mike Ross</h2>
                            <p class="title">Middle</p>
                            <p><button class="button">Go to profile</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../static/imgs/TeamPage/player3.png" alt="John" style="width:100%">
                        <div class="container">
                            <h2>John Doe</h2>
                            <p class="title">Defender</p>
                            <p><button class="button">Go to profile</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/core/jquery-3.4.1.slim.min.js"></script>
    <script src="../static/core/bootstrap.bundle.min.js"></script>


</body></html>
