<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC'
	rel='stylesheet' type='text/css'>
	<link
	href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff'
	rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Abel'
	rel='stylesheet' type='text/css'>
	<link
	href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700'
	rel='stylesheet' type='text/css'>
	<link href="/css/Tournament/diamonds-tournament-style.css"
	rel='stylesheet' type="text/css">
	<link href="/core/bootstrap.min.css" rel="stylesheet">
<title>Play page</title>
</head>
<body>					
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!--<div class="col-md-4 ml-auto">
							<p>NAME: {{name1}}</p>
						</div>
						<div class="col-md-4 ml-auto">
							<p class="align-middle">Mach is in progress</p>
						</div>
						<div class="col-md-4 ml-auto">
							<p>NAME: {{name2}}</p>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-4 ml-auto">
							<p>ELO: {{elo1}}pt</p>
						</div>
						<div class="col-md-4 ml-auto"></div>
						<div class="col-md-4 ml-auto">
							<p>ELO: {{elo2}}pt</p>
						</div>-->
					</div>
				</div>
			</div>
			<div>
			<!--{{#admin}}-->
			<p>Update game</p>
            <form>
				<!--<input type="hidden" name="team1Name" value="{{name1}}">
				<input type="hidden" name="team2Name" value="{{name2}}">
				<input type="number" name="puntuation1" placeholder="Team 1 result">
				<input type="number" name="puntuation2" placeholder="Team 2 result">
                <input [(ngModel)]="play.winner" type="text" name="winner" 
                 placeholder="Name of the winner team">
				<input type="submit" value="Submit" (click)="updateGame()">-->
				<!--<input type="hidden" name="_csrf" value="{{token}}">-->
			</form>
			<!--{{/admin}}-->
	        </div>
	    </div>
	</div>


</body>
</html>