<body>

	<div class="container">

			<fieldset>
				
				<br>
				<br>
				<br>
				<br>
				
				<!-- Form Name -->

						<h2>
							<b>Create team</b>
						</h2>
						<br>

				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Team name</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="team.name"
								placeholder="Your team name here" class="form-control"
								>
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">First player</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="user1.userName"
								placeholder="Username of first player"
								class="form-control">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Second player</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="user2.userName"
								placeholder="Username of secon player"
								class="form-control">
						</div>
					</div>
				</div>

				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Third player</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="user3.userName"
								placeholder="Username of third player"
								class="form-control">
						</div>
					</div>
				</div>

				<br>
				<!-- Button -->
				<div class="col-md-4 inputGroupContainer">
					<button class="btn btn-primary" (click)="save()">Submit</button>
				</div>

			</fieldset>

    </div>
    
    <!--
	<script src="/core/jquery-3.4.1.slim.min.js"></script>
    <script src="/core/bootstrap.bundle.min.js"></script>
    -->

</body>