<html>

<head>
<link href="/core/bootstrap.min.css" rel="stylesheet">
<link href="/css/TeamCreation/teamCreation_files/style.css"
	rel="stylesheet">
<link href="/css/TeamCreation/teamCreation_files/teamCreation.css"
	rel="stylesheet">
</head>

<body>
	
	<div class="container">

		<form class="well form-horizontal" #tournamentForm="ngForm">
			<fieldset>
				
				<br>
				<br>
				<br>
				<br>
				
				<!-- Form Name -->

						<h2>
							<b>Create tournament</b>
						</h2>

						<br>
				
				
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Tournament name</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.name"
								placeholder="Your tournament name here" class="form-control" name="name">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Number of teams</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.numTeams"
								placeholder="Number of teams here"
								class="form-control" name="numTeams">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Description</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.description"
								placeholder="Description here"
								class="form-control" type="text" name="description">
						</div>
					</div>
				</div>

				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Latitude of the location</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.latitude"
								placeholder="Latitude here"
								class="form-control" type="number" name="latitude">
						</div>
					</div>
				</div>
				
				<!-- Text input-->

				<div class="form-group">
					<label class="col-md-4 control-label">Longitude of the location</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input [(ngModel)]="tournament.longitude"
								placeholder="Longitude here"
								class="form-control" type="number" name="longitude">
						</div>
					</div>
				</div>
				<br>
				<!-- Button -->
				<div class="col-md-4 inputGroupContainer">
					<button class="button" (click)="save()">Submit</button>
					<!--<input type="hidden" name="_csrf" value="{{token}}">-->
				</div>

			</fieldset>
		</form>

	</div>
	<script src="/core/jquery-3.4.1.slim.min.js"></script>
	<script src="/core/bootstrap.bundle.min.js"></script>

</body>

</html>