<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Abel'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700'
	rel='stylesheet' type='text/css'>
<link href="/css/Tournament/diamonds-tournament-style.css"
	rel='stylesheet' type="text/css">

<link href="/core/bootstrap.min.css" rel=stylesheet>

<script>
	var name = '{{name}}';
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script src="/js/TournamentPage/googleMap.js"></script>

<title>Diamonds Tournament</title>
</head>

<body>

	<!-- NavBar -->
	<!--<header>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#"> <img
				src="/imgs/Navbar/web-icon-white.png" width="30" height="30" alt="">
			</a> <a class="navbar-brand">eTournaments</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<form action="index">
							<input type="submit" class="nav-link" value="Home">
						</form>
					</li>
					<li class="nav-item active">{{#noloaded}}
						<form action="login">
							<input type="submit" class="nav-link" value="Sign In">
						</form> {{/noloaded}} {{^noloaded}}
						<form action="profile" method="get">
							<input type="submit" class="nav-link" value="{{user.username}}">
							<input type="hidden" name="_csrf" value="{{token}}" /> <input
								type="hidden" name="id" value="{{user.iduser}}" />
						</form> {{/noloaded}}
					</li>
					<li class="nav-item active">
						<form action="leaderBoard">
							<input type="submit" class="nav-link" value="Leaderboard">
						</form>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">{{#noloaded}}
						<form action="register">
							<input type="submit" class="nav-link" value="Register"> <input
								type="hidden" name="_csrf" value="{{token}}" />
						</form> {{/noloaded}} {{^noloaded}}
						<form action="/logout" method="post">
							<input type="submit" class="nav-link" value="Log Out"> <input
								type="hidden" name="_csrf" value="{{token}}" />
						</form> {{/noloaded}}

					</li>
				</ul>
			</div>


		</nav>
	</header>-->


	<header class="hero">
		<div class="hero-wrap">
			<p class="intro" id="intro">Rocket League</p>
			<!--<h1 id="headline">{{name}}</h1>-->
			<p class="year">2020</p>
			<div style="text-align: center;">
			<form action="/jointournament" method="get">
							<!--<input type="submit" class="button" value="Join Tournament"> <input
								type="hidden" name="_csrf" value="{{token}}" />-->
								<!--<input
								type="hidden" name="torunament" value="{{name}}" />-->
						</form> 

			</div>
		</div>
	</header>


	<div class="d-flex justify-content-center">
		<div id="map_container"></div>
	</div>

	<main>
		<div class="card mb-4">
			<div class="card-body">
				<!-- Grid row -->
				<div class="row">
					<!-- Grid column -->
					<div class="col-md-12">

						<h2 class="pt-5 pb-4 text-center font-bold font-up"></h2>

					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
				<!--Table-->
				<table class="table table-striped">
					<!--Table head-->
					<thead>
						<tr>
							<th>#</th>
							<th>Round</th>
							<th>Name team 1</th>
							<th>Elo team 1</th>
							<th>Name team 2</th>
							<th>Elo team 2</th>
							<th>Date</th>
							<th>Winner</th>
						</tr>
					</thead>
					<!--Table head-->
					<!--Table body-->
					<tbody id="table">
						<tr *ngFor="let elem of play">
							<!--<th scope="row">{{-index}}</th>-->
							<td>{{elem.round}}</td>
							<td>{{elem.name1}}</td>
							<td>{{elem.elo1}}</td>
							<td>{{elem.name2}}</td>
							<td>{{elem.elo2}}</td>
							<td>{{elem.date}}</td>
							<td>{{elem.nameWinner}}</td>
							<td>
							<form action='/gameData'>
							<input type="hidden" name="name1" value="{{elem.name1}}">
							<input type="hidden" name="elo1" value="{{elem.elo1}}">
							<input type="hidden" name="name2" value="{{elem.name2}}">
							<input type="hidden" name="elo2" value="{{elem.elo2}}">
							
							<input type="submit" value="UpdateMatch">
							<!--<input type="hidden" name="_csrf" value="{{token}}">-->
							</form>
							</td>
						</tr>
					</tbody>
					<!--Table body-->
				</table>
				<!--Table-->
				<!--Bottom Table UI-->

				<div id='loader' class="d-flex justify-content-center">

				</div>

				<div class="d-flex justify-content-center">
					<!--Pagination -->
						<!--<input type="hidden" name="_csrf" value="{{token}}">-->


					<!--/Pagination -->
				</div>
			</div>
		</div>
	</main>

	<!-- Bootstrap core JavaScript -->
	<script src="/core/bootstrap.bundle.min.js"></script>


</body>

</html>
