<html lang="en">
<head>

</head>

<body>

	<div class="container p-5 pt-5">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<form class="form-horizontal" method="post" action="/register">
							<div class="form-group">
								<label for="name" class="cols-sm-2 control-label">Your Name</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
										<input type="text" [(ngModel)]="user.firtsName" class="alert alert-danger" placeholder="Name"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="cols-sm-2 control-label">Your
									Email</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-envelope fa" aria-hidden="true"></i></span>
										 <input type="text" class="alert alert-danger" role="alert"
											name="email" id="email" placeholder="{{email}}" />

									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username" class="cols-sm-2 control-label">Username</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-users fa" aria-hidden="true"></i></span>
										 <input type="text"
											class="alert alert-danger" role="alert" name="username" id="username"
											placeholder="{{username}}" /> 

									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="cols-sm-2 control-label">Password</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										 <input type="password"
											class="alert alert-danger" role="alert" name="password" id="password"
											placeholder="{{password}}" /> 

									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="confirm" class="cols-sm-2 control-label">Confirm
									Password</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										 <input type="password" class="form-control"
											name="confirm" id="confirm"
											placeholder="Confirm your Password" /> 

									</div>
								</div>
							</div>
							<div class="form-group ">
								<button type="submit" value="Enviar"
									class="btn btn-primary btn-lg btn-block login-button">Register</button>
								<input type="hidden" name="_csrf" value="{{token}}" />
							</div>
							<div class="login-register">
								<p>
									Already registered? <a href="signIn">Login</a>
									here
								</p>
							</div>
							
							<!-- Google login -->
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                            <a href="#" onclick="signOut();">Sign out (google)</a>
                            
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>