<html lang="en">
<head>

</head>

<body>

	<div class="container p-5 pt-5">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-body">
						<form>

							<h2 *ngIf="notEqualPass">Passwords are not equal</h2>

							<div class="form-group">
								<label for="name" class="cols-sm-2 control-label">Your name</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
										<input type="text" #name class="form-control" placeholder="Insert your name" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="cols-sm-2 control-label">Your e-mail</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
										<input type="text" #email class="form-control" placeholder="Insert your Email" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="username" class="cols-sm-2 control-label">Username</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
										<input type="text" #username class="form-control" placeholder="Enter your Username" /> 
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="password" class="cols-sm-2 control-label">Password</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										<input type="password" #userpassword class="form-control" placeholder="Enter your Password"/>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label for="confirm" class="cols-sm-2 control-label">Confirm password</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										<input type="password" #password class="form-control" placeholder="Confirm your Password" />
									</div>
								</div>
							</div>
							
							<div class="form-group ">
								<button (click)="send(name.value, email.value, username.value, userpassword.value, password.value)" class="btn btn-primary btn-lg btn-block login-button">Register</button>
							</div>

							<div class="login-register">
								<p>Already registered? <a>Login here </a></p>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>
</html>